#============= bluetooth ==============
allow bluetooth usb_device:chr_file open;
allow bluetooth usb_device:dir { read open };

allow bluetooth self:socket { bind create read write };
