allow system_app system_data_file:dir { read getattr open };
allow system_app sysfs_odroid:file { getattr open read write };
allow system_app sysfs_devices_system_cpu:file { getattr open read write };

set_prop(system_app, odroid_prop)
set_prop(system_app, system_prop)

allow system_app exfat:file { rw_file_perms };
allow system_app exfat:dir { rw_dir_perms };
allow system_app exfat:filesystem { getattr };

