type voodik, domain;
type voodik_exec, exec_type, file_type;
# Started by init
init_daemon_domain(voodik)

#============= voodik ==============
allow voodik self:capability chown;
allow voodik usb_device:chr_file setattr;

#============= voodik ==============
allow voodik sysfs:dir { open read };
allow voodik sysfs:file { open read };

#============= voodik ==============
allow voodik root_block_device:blk_file { getattr open read };

set_prop(voodik, odroid_prop)
