import init.odroidxu3.usb.rc
import init.odroidxu3.wifi.rc

on early-init
    mount debugfs debugfs /sys/kernel/debug
    write /proc/irq/104/smp_affinity "f0"
    write /proc/irq/105/smp_affinity "f0"
    write /proc/irq/107/smp_affinity "f0"
    write /proc/irq/117/smp_affinity "f0"
    write /proc/irq/118/smp_affinity "f0"
    write /proc/irq/149/smp_affinity "f0"
    write /proc/irq/251/smp_affinity "f0"
    write /proc/irq/404/smp_affinity "f0"

on init
    start watchdogd
    mkdir /persist 0771 system system

on fs
    mount_all /fstab.odroidxu3
#    exec - root root -- /system/bin/mngblt

on post-fs
#    setprop ro.product.model ${ro.boot.model}

    write /sys/block/mmcblk0/queue/read_ahead_kb 256
    # for controlling write performance boosting
    chown system radio /sys/block/mmcblk0/bkops_en
    chmod 0664 /sys/block/mmcblk0/bkops_en

on post-fs-data
    rm /data/property/persist.demo.hdmirotation
    mkdir /data/media 0770 media_rw media_rw

    mkdir /data/misc/radio 0775 radio system
    mkdir /efs/imei 0775 radio system

# create data/gps for GPS daemon
    mkdir /data/system/gps 771 gps system

# restore permissions for gps
    mkdir /data/system 0775 system system

#-----------------------------------------------------------------------

on boot
#    mount debugfs /sys/kernel/debug /sys/kernel/debug

    # Reduce reserved lowmem from ~48MB to ~12MB
    write /proc/sys/vm/lowmem_reserve_ratio "128 128"
    write /proc/sys/vm/min_free_kbytes 32768

    # Set up kernel tracing, but disable it by default
#    chmod 0222 /sys/kernel/debug/tracing/trace_marker
#    write /sys/kernel/debug/tracing/tracing_on 0

    setprop ro.build.product odroidxu3
    setprop ro.product.device odroidxu3

    # 4.3 needs this
    chmod 0644 /proc/cmdline

    write /sys/class/gpio/export 25
    chmod 0222 /sys/class/gpio/export
    chmod 0666 /sys/class/gpio/gpio25/edge
    chmod 0666 /sys/class/gpio/gpio25/value
    chmod 0666 /sys/class/gpio/gpio25/direction

# Permissions for bluetooth
    setprop ro.bt.bdaddr_path "/efs/bluetooth/bt_addr"
    chown bluetooth bluetooth ro.bt.bdaddr_path

# Permissions for backlight
    chmod 0660 /sys/class/backlight/pwm-backlight.0/brightness
    chown system system /sys/class/backlight/pwm-backlight.0/brightness

# Permissions for Gscaler log level
    chmod 0644 /sys/module/gsc/parameters/gsc_dbg

    chmod 0666 /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor "ondemand"
    chmod 0666 /sys/devices/system/cpu/cpu4/cpufreq/scaling_governor
    write /sys/devices/system/cpu/cpu4/cpufreq/scaling_governor "ondemand"
    chmod 0666 /sys/class/devfreq/exynos5-devfreq-mif/governor
    write /sys/class/devfreq/exynos5-devfreq-mif/governor "simple_exynos"
    chmod 0666 /sys/class/devfreq/exynos5-devfreq-mif/max_freq
    write /sys/class/devfreq/exynos5-devfreq-mif/max_freq 825000

# Service begin here

# Set watchdog timer to 30 seconds and pet it every 10 seconds to get a 20 second margin
service watchdogd /sbin/watchdogd 10 20
    class core
    seclabel u:r:watchdogd:s0

service insmod_cdc /system/bin/insmod /system/lib/modules/cdc_ether.ko
    class core
    seclabel u:r:toolbox:s0
    user root
    group root
    oneshot

service insmod_ax88179 /system/bin/insmod /system/lib/modules/ax88179_178a.ko
    class core
    seclabel u:r:toolbox:s0
    user root
    group root
    disabled
    oneshot

service insmod_r8152 /system/bin/insmod /system/lib/modules/r8152.ko
    class core
    seclabel u:r:toolbox:s0
    user root
    group root
    disabled
    oneshot
                
service insmod_smsc95xx /system/bin/insmod /system/lib/modules/smsc95xx.ko    
    class core
    seclabel u:r:toolbox:s0
    user root
    group root
    disabled
    oneshot

service insmod_ralink1 /system/bin/insmod /system/lib/modules/rt2x00lib.ko
    class core
    seclabel u:r:toolbox:s0
    user root
    group root
    oneshot

service insmod_ralink2 /system/bin/insmod /system/lib/modules/rt2x00usb.ko
    class core
    seclabel u:r:toolbox:s0
    user root
    group root
    disabled
    oneshot

service insmod_ralink3 /system/bin/insmod /system/lib/modules/rt2800lib.ko
    class core
    seclabel u:r:toolbox:s0
    user root
    group root
    disabled
    oneshot

service insmod_ralink4 /system/bin/insmod /system/lib/modules/rt2800usb.ko nohwcrypt=y
    class core
    seclabel u:r:toolbox:s0
    user root
    group root
    disabled
    oneshot

service insmod_8188eu /system/bin/insmod /system/lib/modules/8188eu.ko
    class core
    seclabel u:r:toolbox:s0
    user root
    group root
    oneshot

service insmod_8192cu /system/bin/insmod /system/lib/modules/8192cu.ko
    class core
    seclabel u:r:toolbox:s0
    user root
    group root
    oneshot

service insmod_8192du /system/bin/insmod /system/lib/modules/8192du.ko
    class core
    seclabel u:r:toolbox:s0
    user root
    group root
    oneshot

service insmod_8192eu /system/bin/insmod /system/lib/modules/8192eu.ko
    class core
    seclabel u:r:toolbox:s0
    user root
    group root
    oneshot

service insmod_8723au /system/bin/insmod /system/lib/modules/8723au.ko
    class core
    seclabel u:r:toolbox:s0
    user root
    group root
    oneshot

service insmod_8812au /system/bin/insmod /system/lib/modules/8812au.ko
    class core
    seclabel u:r:toolbox:s0
    user root
    group root
    oneshot

service insmod_8821au /system/bin/insmod /system/lib/modules/8821au.ko
    class core
    seclabel u:r:toolbox:s0
    user root
    group root
    oneshot

service insmod_88x2bu /system/bin/insmod /system/lib/modules/88x2bu.ko
    class core
    seclabel u:r:toolbox:s0
    user root
    group root
    oneshot

service insmod_vb2vmalc /system/bin/insmod /system/lib/modules/videobuf2-vmalloc.ko
    class core
    seclabel u:r:toolbox:s0
    user root
    group root
    oneshot

service insmod_saa7115 /system/bin/insmod /system/lib/modules/saa7115.ko
    class core
    seclabel u:r:toolbox:s0
    user root
    group root
    disabled
    oneshot

service insmod_stk1160 /system/bin/insmod /system/lib/modules/stk1160.ko
    class core
    seclabel u:r:toolbox:s0
    user root
    group root
    disabled
    oneshot

service insmod_usbtv /system/bin/insmod /system/lib/modules/usbtv.ko
    class core
    seclabel u:r:toolbox:s0
    user root
    group root
    disabled
    oneshot


service insmod_uvccam /system/bin/insmod /system/lib/modules/uvcvideo.ko
    class core
    seclabel u:r:toolbox:s0
    user root
    group root
    disabled
    oneshot

service insmod_usbmidi /system/bin/insmod /system/lib/modules/snd-usbmidi-lib.ko
    class core
    seclabel u:r:toolbox:s0
    user root
    group root
    oneshot

service insmod_usb_audio /system/bin/insmod /system/lib/modules/snd-usb-audio.ko
    class core
    seclabel u:r:toolbox:s0
    user root
    group root
    disabled
    oneshot

service insmod_cdc_acm /system/bin/insmod /system/lib/modules/cdc-acm.ko
    class core
    seclabel u:r:toolbox:s0
    user root
    group root
    disabled
    oneshot

service insmod_pl2303 /system/bin/insmod /system/lib/modules/pl2303.ko
    class core
    seclabel u:r:toolbox:s0
    user root
    group root
    disabled
    oneshot

service insmod_ftdi /system/bin/insmod /system/lib/modules/ftdi_sio.ko
    class core
    seclabel u:r:toolbox:s0
    user root
    group root
    disabled
    oneshot

service insmod_cp210x /system/bin/insmod /system/lib/modules/cp210x.ko
    class core
    seclabel u:r:toolbox:s0
    user root
    group root
    disabled
    oneshot

service gps_cfg /system/bin/sh /system/etc/init.gps.sh
    class main
    user root
    disabled
    oneshot

on property:ro.radio.noril=0
    setprop rild.libpath "/system/lib/libril-rk29-dataonly.so"

on property:ro.disable.ethernet=0
    start insmod_ax88179

on property:init.svc.insmod_ax88179=stopped
    start insmod_r8152

on property:init.svc.insmod_r8152=stopped
    start insmod_smsc95xx

on property:init.svc.insmod_ralink1=stopped
    start insmod_ralink2

on property:init.svc.insmod_ralink2=stopped
    start insmod_ralink3

on property:init.svc.insmod_ralink3=stopped
    start insmod_ralink4

on property:init.svc.insmod_vb2vmalc=stopped
    start insmod_saa7115

on property:init.svc.insmod_saa7115=stopped
    start insmod_stk1160
    start insmod_usbtv

on property:init.svc.insmod_stk1160=stopped
    start insmod_uvccam

on property:init.svc.insmod_usbmidi=stopped
    start insmod_usb_audio


on property:init.svc.bootanim=stopped
     start insmod_cdc_acm
     start insmod_pl2303

on property:init.svc.insmod_pl2303=stopped
     start insmod_ftdi

on property:init.svc.insmod_ftdi=stopped
     start insmod_cp210x

#on property:init.svc.insmod_cp210x=stopped
     #set usb gps speed
#    start gps_cfg

on property:ro.dumpstate.dmesg=1
    write /proc/sys/kernel/dmesg_restrict 0
